# Edamam

In [1]:
import requests
import collections
import pandas as pd

api_key = "6f58acb8fe27ff8884f00b8451c098f5"

In [2]:
def get_recipe(dish):
    
    #call API
    url = f"https://api.edamam.com/api/recipes/v2?type=public&q={dish}&app_id=4bc274b4&app_key={api_key}"

    response = requests.request("GET",url)
    recipe = response.json()["hits"][0]['recipe']#['ingredients']
    
    return recipe

In [3]:
def get_ingredients(dish):
    
    #get ingredients from the call
    recipe = get_recipe(dish)
    servings = recipe['yield']
    ingredients = recipe['ingredients']
        
    new_dict = collections.defaultdict(list)
    
    for i in ingredients:
        new_dict["ingredient"].append(i['food'].lower())
        new_dict["value"].append(round((i['quantity'] / servings), 2))
        new_dict["metric"].append(i['measure'])
        
    return new_dict

In [166]:
output = get_ingredients('edamame')

In [167]:
for i in output['ingredient']:
    print(i)

salt
edamame
salt

In [168]:
for i in output['metric']:
    print(i)

None
pound
teaspoon

In [8]:
pd.DataFrame.from_dict(output)

       ingredient  value    metric
0           chili   0.00      None
1    fresh ginger   0.06     piece
2          garlic   0.25     clove
3        cilantro   1.00     sprig
4           limes   2.00    <unit>
5            salt   0.12  teaspoon
6     chile paste   0.50  teaspoon
7       red onion   0.25    <unit>
8        sea bass   0.33     pound
9           chili   0.00      None
10       cilantro   0.25     sprig
11          chili   0.25    <unit>
12   sweet potato   0.25    <unit>
13  fine sea salt   0.00      None

## Metrics

In [186]:
df_metrics = pd.read_csv("Emission_computing/raw_metrics.csv")

In [187]:
df_metrics.shape

(241, 1)

In [188]:
df_metrics.duplicated().sum()

213

In [189]:
df_metrics.drop_duplicates(inplace=True, ignore_index=True)

In [190]:
df_metrics.shape

(28, 1)

In [191]:
df_metrics

        metric
0       <unit>
1   tablespoon
2        ounce
3     teaspoon
4         None
5        piece
6        clove
7        sprig
8        pound
9        slice
10        leaf
11         cup
12        gram
13       squid
14     handful
15       lemon
16       wedge
17     serving
18       pinch
19       quart
20     package
21       bunch
22  milliliter
23         pod
24       strip
25        pack
26        link
27        loaf

In [205]:
df_metrics.to_csv("Emission_computing/clean_metrics.csv", index = False)

## Ingredients

In [192]:
df_ingredients = pd.read_csv("Emission_computing/raw_ingredients.csv")

In [193]:
df_ingredients.shape

(410, 1)

In [194]:
df_ingredients.duplicated().sum()

164

In [196]:
df_ingredients.drop_duplicates(inplace=True, ignore_index=True)

In [197]:
df_ingredients.shape

(246, 1)

In [200]:
df_ingredients()

              ingredients
0                  donuts
1          milk chocolate
2                    milk
3                espresso
4                 vanilla
..                    ...
241                capers
242       anchovy fillets
243         tabasco sauce
244  worcestershire sauce
245               edamame

[246 rows x 1 columns]

In [204]:
df_ingredients.to_csv("Emission_computing/clean_ingredients.csv", index = False)