In [43]:
import pandas as pd

inds =['gram', 'milliliter', 'teaspoon', 'tablespoon', 'pound','ounce','pinch', 'squid', 'lemon','loaf',\
        'link','clove','sprig','leaf','bunch','pod','package','wedge','slice', '<unit>']
data = {'metric':inds ,\
        'to_Kg_multiplier':[1/1000, 1/1000, 5/1000, 15/1000, 1/2.2, 1/35.274, 3/1000, 63/1000, 70/1000, 400/1000,\
        57/1000, 6/1000, 5/1000, 3/1000, 15/1000, 5/1000, 300/1000, 10/1000, 20/1000, 10/1000],}

unit_df = pd.DataFrame(data)

In [44]:
unit_df

        metric  to_Kg_multiplier
0         gram          0.001000
1   milliliter          0.001000
2     teaspoon          0.005000
3   tablespoon          0.015000
4        pound          0.454545
5        ounce          0.028349
6        pinch          0.003000
7        squid          0.063000
8        lemon          0.070000
9         loaf          0.400000
10        link          0.057000
11       clove          0.006000
12       sprig          0.005000
13        leaf          0.003000
14       bunch          0.015000
15         pod          0.005000
16     package          0.300000
17       wedge          0.010000
18       slice          0.020000
19      <unit>          0.010000

In [32]:
final_result=600

In [36]:
print(f"This releases the same amount of CO2 emissions as driving {round(final_result*0.001*(296/116),2)} miles in a petrol car.")
print(f"This releases the same amount of CO2 emissions as taking {final_result*0.001*(29/116)} 8 minute showers.")
print(f"This releases the same amount of CO2 emissions as heating a house for {round((final_result*0.001*(18/116)),2)} hours.")
print(f"This releases the same amount of CO2 emissions as watching {round(final_result*0.001*(1/float(55/1000)),2)} hours of Netflix.")

This releases the same amount of CO2 emissions as driving 1.53 miles in a petrol car.
This releases the same amount of CO2 emissions as taking 0.15 8 minute showers.
This releases the same amount of CO2 emissions as heating a house for 0.09 hours.
This releases the same amount of CO2 emissions as watching 10.91 hours of Netflix.

In [42]:
print("This releases the same amount of CO2 emissions as:\n")
print(f"- Driving {round(final_result*0.001*(296/116),2)} miles in a petrol car.")
print(f"- Taking {final_result*0.001*(29/116)} long showers.")
print(f"- Heating a house for {round((final_result*0.001*(18/116)),2)} hours.")
print(f"- Watching {round(final_result*0.001*(1/float(55/1000)),2)} hours of Netflix.")

This releases the same amount of CO2 emissions as:

- Driving 1.53 miles in a petrol car.
- Taking 0.15 long showers.
- Heating a house for 0.09 hours.
- Watching 10.91 hours of Netflix.

In [41]:
miles_per_Kg = round(final_result*0.001*(296/116),2)
heating_per_Kg = round(final_result*0.001*(29/116),2)
showers_per_Kg = round((final_result*0.001*(18/116)),2)
stream_hrs_kg= round(final_result*0.001*(1/float(55/1000)),2)